
<EditForm Model="Ingredient" OnValidSubmit="AddIngredient">
    <MudDialog>
        <TitleContent>
            <h2>Add ingredient</h2>
        </TitleContent>
        <DialogContent>
            @if (isUsed)
            {
                <MudAlert Severity="Severity.Error">@message</MudAlert>
            }
            <MudTextField T="string" Label="Ingredient name" Required="true" RequiredError="Ingredient name is required!" @bind-Value="Ingredient.Ingredient_Name" Class="mb-5"/>
            <MudTextField T="double" Label="Calorie" Required="true" RequiredError="Calorie is required!" @bind-Value="Ingredient.Calorie" Class="mb-5" />
            <MudTextField T="double" Label="Protein" Required="true" RequiredError="Protein is required!" @bind-Value="Ingredient.Protein" Class="mb-5" />
            <MudTextField T="double" Label="Fat" Required="true" RequiredError="Fat is required!" @bind-Value="Ingredient.Fat" Class="mb-5" />
            <MudTextField T="double" Label="Carbohydrate" Required="true" RequiredError="Carbohydrate is required!" @bind-Value="Ingredient.Carbohydrate" Class="mb-5" />

        </DialogContent>
        <DialogActions>
            <MudButton OnClick="Cancel">Cancel</MudButton>
            <MudButton Color="Color.Primary" ButtonType="ButtonType.Submit">Save</MudButton>
        </DialogActions>
    </MudDialog>
</EditForm>
@code {
    [CascadingParameter]
    private MudDialogInstance MudDialog { get; set; }

    private bool isUsed = false;
    private string message = "";

    private void Cancel() => MudDialog.Cancel();

    IngredientDTO Ingredient = new();

    async Task AddIngredient()
    {
        var result = await ingredientService.Insert(Ingredient, Constants.ingredientBaseUrl);

        if (result.flag)
        {
            MudDialog.Close(DialogResult.Ok(Ingredient));
        }
        else
        {
            isUsed = true;
            message = result.Message;
            StateHasChanged();
        }
    }
}

