@inherits LayoutComponentBase


@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<div class="page">
     @* <AuthorizeView>
        <Authorized>  *@
            <div class="sidebar">
                <Sidebar />
            </div>
         @* </Authorized>
        <NotAuthorized>
            <NavMenu />
        </NotAuthorized>
    </AuthorizeView>  *@
    

    <main>
        @* <div class="top-row px-4 auth">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div> *@

        <article class="content px-4">
            <MudLayout>
                @Body
            </MudLayout>
            
        </article>
    </main>
</div>




<MudThemeProvider Theme="MyCustomTheme" />

@code {
    MudTheme MyCustomTheme = new MudTheme()
        {
            PaletteLight = new PaletteLight()
            {
                Primary = "#4D774E",
                Secondary = Colors.Green.Accent4,
                AppbarBackground = "#4D774E",

            },
            PaletteDark = new PaletteDark()
            {
                Primary = Colors.Blue.Lighten1
            },

            LayoutProperties = new LayoutProperties()
            {
                DrawerWidthLeft = "260px",
                DrawerWidthRight = "300px"
            }
        };
}

