@inherits LayoutComponentBase


<MudThemeProvider />
<MudPopoverProvider />

<MudDialogProvider />

<MudSnackbarProvider />

    <script src="https://kit.fontawesome.com/a250413ada.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

<div class="page">
      <AuthorizeView>
        <Authorized> 
            <div class="sidebar">
                <Sidebar />
            </div>
          </Authorized>
        <NotAuthorized>
            @{
                NavManager.NavigateTo("/authentication/login");
            }
        </NotAuthorized>
    </AuthorizeView> 
    

    <main>
        <AuthorizeView>
            <Authorized>
                <MudAppBar Color="Color.Primary" Fixed="false">
                    
                    <MudChip T="string" Icon="fas fa-user" Color="Color.Primary">
                        Hello, @context.User.Identity?.Name!
                    </MudChip>

                    <MudSpacer />

                    <MudMenu Icon="fas fa-user" Color="Color.Inherit">
                        <MudMenuItem Href="/Profile">Profile</MudMenuItem>
                        <MudMenuItem>Setting</MudMenuItem>
                        <MudMenuItem OnClick="LogoutClicked">Sing out</MudMenuItem>
                    </MudMenu>
                </MudAppBar>
            </Authorized>
        </AuthorizeView>
         

        <article class="content px-4">
            <MudLayout>
                @Body
            </MudLayout>
            
        </article>
    </main>
</div>




<MudThemeProvider Theme="MyCustomTheme" />

@code {
    async Task LogoutClicked()
    {
        var logoutModel = new UserSession();
        var customAuthStateProvider = (CustomAuthenticationStateProvider)AuthStateProvider;
        await customAuthStateProvider.UpdateAuthenticationState(logoutModel);
        NavManager.NavigateTo("/", forceLoad: true);
    }


    MudTheme MyCustomTheme = new MudTheme()
        {
            PaletteLight = new PaletteLight()
            {
                Primary = "#4D774E",
                Secondary = Colors.Green.Accent4,
                AppbarBackground = "#4D774E",

            },
            PaletteDark = new PaletteDark()
            {
                Primary = Colors.Blue.Lighten1
            },

            LayoutProperties = new LayoutProperties()
            {
                DrawerWidthLeft = "260px",
                DrawerWidthRight = "300px"
            }
        };
}

