    <MudAppBar Elevation="0" Dense="true">
        <div class="d-flex justify-space-between" style="width: 100%">
            <div class="d-flex">
                <MudNavLink Href="authentication/login">Login</MudNavLink>
                <MudNavLink Href="authentication/register">Register</MudNavLink>
            </div>
        </div>
    </MudAppBar>
