
<EditForm Model="Allergy" OnValidSubmit="AddAllergy">
    <MudDialog>
        <TitleContent>
            <h2>Add allergy</h2>
        </TitleContent>
        <DialogContent>
            @if (isUsed)
            {
                <MudAlert Severity="Severity.Error">@message</MudAlert>
            }
            <MudTextField T="string" Label="Allergy name" Required="true" RequiredError="Allegy name is required!" @bind-Value="Allergy.Allergy_Name" />
       
        </DialogContent>
        <DialogActions>
            <MudButton OnClick="Cancel">Cancel</MudButton>
            <MudButton Color="Color.Primary" ButtonType="ButtonType.Submit">Save</MudButton>
        </DialogActions>
    </MudDialog>
</EditForm>
@code {
    [CascadingParameter]
    private MudDialogInstance MudDialog { get; set; }

    private bool isUsed = false;
    private string message = "";

    private void Cancel() => MudDialog.Cancel();

    AllergyDTO Allergy = new();

    async Task AddAllergy()
    {
        var result = await allergyService.Insert(Allergy, Constants.allergyBaseUrl);

        if (!result.flag)
        {
            isUsed = true;
            message = result.Message;
        }
        if (result.flag)
        {
            MudDialog.Close(DialogResult.Ok(Allergy));
        }
        else
        {
            isUsed = true;
            message = result.Message;
            StateHasChanged();
        }
    }
}

