
<MudPaper Class="pa-4 ma-2" Outlined="true" Square="true" Height="800px" >
    <h2>Patients</h2>
    <MudList T="string">
        <MudListItem>
            <AvatarContent>
                <MudAvatar>
                    <MudIcon Icon="@Icons.Material.Filled.Work" Color="Color.Primary" />
                </MudAvatar>
            </AvatarContent>
            <ChildContent>
                Photos
            </ChildContent>
        </MudListItem>
        <MudListItem>
            <AvatarContent>
                <MudAvatar>
                    <MudIcon Icon="@Icons.Material.Filled.Work" Color="Color.Primary" />
                </MudAvatar>
            </AvatarContent>
            <ChildContent>
                Work
            </ChildContent>
        </MudListItem>
        <MudListItem>
            <AvatarContent>
                <MudAvatar Color="Color.Tertiary">V</MudAvatar>
            </AvatarContent>
            <ChildContent>
                Vacation
            </ChildContent>
        </MudListItem>
    </MudList>
</MudPaper>


@code {

}
