<MudPaper Width="350px" Elevation="0" Style="border-radius: 15px;" Class="pa-4 ma-2">
    <h2>Settings</h2>
    <MudNavMenu Rounded="true" Margin="Margin.Normal" Color="Color.Tertiary" Class="pa-2">
        <MudNavLink Href="/profile" IconColor="Color.Inherit">Account preferences</MudNavLink>
        <MudNavLink Href="/profile" IconColor="Color.Inherit">Notification</MudNavLink>
    </MudNavMenu>
</MudPaper>

<MudTabs Position="Position.Left"
         ApplyEffectsToContainer="true" Class="mt-8" PanelClass="pa-6">
    <MudTabPanel Text="Account preferences">
        <Client.Pages.Profile.Admin.AdminProfile></Client.Pages.Profile.Admin.AdminProfile>
    </MudTabPanel>
    <MudTabPanel Text="Notification">
        <MudText>Content Two</MudText>
    </MudTabPanel>
    <MudTabPanel Text="Delete profile">
        <MudText>Content Three</MudText>
    </MudTabPanel>
</MudTabs>

@code{

}